body {
  margin: 0;
  background-color: white;
}

.toggle {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: #fff;
  cursor: pointer;
  font-size: 24px;
  position: relative; 
  z-index: 100; 
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #bdb8b8;
  color: black;
  transition: left 0.3s ease;
  padding-top: 80px;
  z-index: 99;
}

.sidebar.open {
  left: 0;
}