@media (max-width: 900px) {
    .page {
    display: flex;
    flex-direction: column;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero__content {
        grid-template-columns: 1fr;
    }

    .article-grid {
        grid-template-columns: 1fr 1fr;
        order: 2;
    }

     .sidebar {
        order: unset;
    }

    .nav__links{
    position: fixed;
    top: 0;
    right: -100%; 
    height: 100vh;
    width: 50%;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    transition: right 0.3s ease;
    z-index: 1000;
}
    .nav__toggle:checked ~ .nav__links {
    right: 0;
}

    .nav__hamburger {
        display: flex;
    }

    .nav {
        position: relative;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .article-grid {
        grid-template-columns: 1fr;
    }

    .hero-text__title {
        font-size: 2rem;
    }
}