body {
    background: linear-gradient(to right, var(--color-body-gradient-start), var(--color-body-gradient-end));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}